body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f0f4f8;
    display: flex;
    height: 100vh;
    margin: 0;
}

body::before {
    content: "";
    background-size: cover;
    flex: 1;
}

.container, .form-doc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-doc {
    background-color: white;
    padding: 70px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    max-width: 420px;
    margin: 10px;
    flex-direction: column;
    flex: 1;
}

.form-doc h2 {
    text-align: center;
    color: #333;
    margin-bottom: 25px;
}

.form-doc label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #444;
}

.form-doc input {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-sizing: border-box;
    font-size: 14px;
}

.form-doc input:focus {
    border-color: #007bff;
    outline: none;
}

.form-doc button {
    width: 100%;
    margin-top: 25px;
    padding: 12px;
    background-color: #007bff;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-doc button:hover {
    background-color: #0056b3;
}

.registro {
    background-color: #1f4369;
    color:#f0f4f8;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 40%;
    border-radius: 17px;
    border: none;
    cursor: pointer;
}

.registro:hover {
    background-color: #37608b;
    transition: 0.5s;
    color:#FFFF;
}