/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.TITULO{
    font-size: 38px;
    color: #FFFFFF;
    text-align: center;
    margin-right: 38%;
    margin-left: 28%;
}

/* Container */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.container .cardMedic{
    width: 30%;
    height: auto;
}


/* Button Styles */
.btn-option {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px;
    background-color: #222;
    color: #FFFFFF; 
    font-style: normal;
}


/* Product Section */
.products {
    margin-top: 30px;
}
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
}
.card:hover {
    transform: scale(1.02); /* Más sutil que 1.05 */
}
.card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    background-color: #fff; /* Opcional: para mejor contraste */
}
.card-body {
    text-align: center;
    padding: 15px;
}
.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}
.card-text {
    font-size: 1rem;
    color: #8f1c1c;
    font-weight: bold;
}
.products {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.cardMedic {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Footer */
.footer {
    text-align: center;
    padding: 20px;
    background-color: #304b61;
    color: white;
    margin-top: 20px;
    font-size: medium;
}

.footer h3{
    text-align: center;
    padding: 20px;
    background-color: #304b61;
    color: white;
    margin-top: 20px;
    font-size: 1.5em;
}

.img-btn {
    transition: transform 0.3s ease;
    cursor: pointer;
    height: 85%;
    margin: 3%;
    width: 95%;
    border-radius: 3%;


}

.H3 {
    margin-bottom: 4%;
    margin-top: 4%;
    text-align: center;
    
}

.img-btn:hover {
    transform: scale(1.009);
}


header {
    background-color: #58676E;
}
.img-imagotipo {
    width: 7%;
    height: auto;
    margin: 2%;
}


header h1 {
    margin: 2%;
    justify-content: center;
    margin-left: 37%;
}

