<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarme</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Registrarme</h1>
        <form action='@Url.Action("GuardarFarmacia", "Account")' method="post" onsubmit="return validarFormulario()">
            <div class="form-group">
                <label for="Contraseña">Contraseña</label>
                <input type="password" class="form-control" id="Contraseña" name="Contraseña" required>
                <small id="passwordHelp" class="form-text text-muted">
                    La contraseña debe tener al menos 8 caracteres, una letra mayúscula y un carácter especial.
                </small>
            </div>
            <div class="form-group">
                <label for="Nombre">Nombre</label>
                <input type="text" class="form-control" id="Nombre" name="Nombre" required>
            </div>
            <div class="form-group">
                <label for="TituloPropiedad">Titulo de Propiedad</label>
                <input type="text" class="form-control" id="TituloPropiedad" name="TituloPropiedad" required>
            </div>
            <div class="form-group">
                <label for="Direccion">Direccion</label>
                <input type="text" class="form-control" id="Direccion" name="Direccion" required>
            </div>
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="email" class="form-control" id="Email" name="Email" required>
            </div>
            <div class="form-group">
                <label for="Telefono">Telefono</label>
                <input type="text" class="form-control" id="Telefono" name="Telefono" required>
            </div>
            <button type="submit" class="btn btn-primary">Registrarme</button>
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
