<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarme</title>
    <link rel="stylesheet" href="~/css/regisDoc.css" />
</head>
<body>
    <div class="container mt-5">
        <div class= "Volver">
        <img src="~/img/imgLoginDoctor.png" class="logo">
        <a class="btn btn-warning" href='@Url.Action("index", "Home")'>Volver</a>
        </div>
        <img src="~/img/imago.png" class="logo">
        <h1>Registrarme</h1>
        <form-doc action='@Url.Action("GuardarDoctor", "Account")' method="post" onsubmit="return validarFormulario()">
            <div class="form-doc">
                <label for="Nombre">Nombre</label>
                <input type="text" class="form-doc-control" id="Nombre" name="Nombre" required>
            </div>
            <div class="form-doc">
                <label for="Contraseña">Contraseña</label>
                <input type="password" class="form-doc-control" id="Contraseña" name="Contraseña" required>
                <small id="passwordHelp" class="form-doc-text text-muted">
                    La contraseña debe tener al menos 8 caracteres, una letra mayúscula y un carácter especial.
                </small>
            </div>
            <div class="form-doc">
                <label for="Apellido">Apellido</label>
                <input type="text" class="form-doc-control" id="Apellido" name="Apellido" required>
            </div>
            <div class="form-doc">
                <label for="DNI">DNI</label>
                <input type="text" class="form-doc-control" id="DNI" name="DNI" required>
            </div>
            <div class="form-doc">
                <label for="Matricula">Matricula</label>
                <input type="text" class="form-doc-control" id="Matricula" name="Matricula" required>
            </div>
            <div class="form-doc">
                <label for="Email">Email</label>
                <input type="email" class="form-doc-control" id="Email" name="Email" required>
            </div>
            <div class="form-doc">
                <label for="Telefono">Telefono</label>
                <input type="text" class="form-doc-control" id="Telefono" name="Telefono" required>
            </div>
            <button type="submit" class="registro">Registrarme</button>
        </form-doc>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
